# Editor backup files
*~
*.*.swp
*.*.kate-swp
.directory

# GCC for AArch64
aarch64-none-elf

# ATF sources
arm-trusted-firmware

# U-Boot sources
u-boot

# TODO
TODO

# GIT commit template
GIT_COMMIT.txt
