# Editor backup files
*~
*.*.swp
*.*.kate-swp
.directory

# GCC for AArch64
aarch64-none-elf

# ATF sources
arm-trusted-firmware

# U-Boot sources
u-boot

# Binaries
bl31.elf
boot.scr
idbloader.img
rk3328-rock64.dtb
u-boot.itb

# TODO
TODO

# GIT commit template
GIT_COMMIT.txt

# GIT tag template
GIT_TAG.txt
